body {
    font-family: 'Raleway', sans-serif;
    transition: .5s;
}

* {
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    height: 100%;
}

header {
    transition: .5s;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}

header.fixed {
    position: fixed;
    top: 0;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

header nav {
    background-color: #1b242f !important;
    border-bottom: 3px solid #04c2c9;
}

header nav .navbar-item {
    color: #fff !important;
    transition: .5s;
}

header nav .navbar-item.active,
header nav .navbar-item:hover {
    color: #e31b6d !important;
    background-color: transparent !important;
}

.navbar-menu {
    background-color: #1b242f;
}

.navbar-burger,
.navbar-burger:hover {
    color: #fff;
}

footer {
    padding: 30px 0;
    font-size: 17px;
    width: 100%;
    clear: both;
    text-align: center;
    background-color: #1b242f;
    position: relative;
}

footer p {
    color: #f6f6f6;
    margin: 20px 0 0 0;
}

footer .quote-icon {
    font-size: 20px;
}

footer .goTop {
    width: 47px;
    padding: 10px 0 7px 0;
    margin: -60px auto 30px auto;
    background-color: #e31b6d;
    cursor: pointer;
}

footer .goTop i {
    font-size: 35px;
    color: #f6f6f6;
}
