/************** SECTION ***************/

.section {
    padding: 150px 20px 80px 20px;
    text-align: center;
    background-color: #f6f6f6;
    position: relative;
}

.section .header-title {
    margin-bottom: 50px;
}

.section .divider {
    width: 60%;
    height: 1px;
    margin: 15px auto 0 auto;
    background-color: #252934;
    display: inline-block;
}

.section .divider i {
    position: relative;
    top: -13px;
    font-size: 25px;
    background-color: #f6f6f6;
    color: #252934;
    padding: 0 10px;
}

.section .header-title p {
    color: #f6f6f6;
    font-size: 2rem;
}

.section .header-title h2 {
    color: #252934;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.section .svgcolor-light {
    position: absolute;
    top: 0;
    left: 0;
    fill: #252934;
    stroke: #252934;
}

.section:nth-child(even) {
    background-color: #252934;
}

.section:nth-child(even) .header-title h2 {
    color: #f6f6f6;
}

.section:nth-child(even) .svgcolor-light {
    fill: #f6f6f6;
    stroke: #f6f6f6;
}

.section:nth-child(even) .divider {
    background-color: #f6f6f6;
}

.section:nth-child(even) .divider i {
    background-color: #252934;
    color: #f6f6f6;
}

/*************** HOME *****************/

#home {
    height: 100%;
}

#home .canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#home .content {
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

#home .content h1 {
    color: #e31b6d;
    font-weight: 500;
    font-size: 40px;
    margin: 30px 0 10px 0;
}

#home .content p {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
}

#home .content img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    border: 5px solid #f6f6f6;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .2), 0 0 5px 2px rgba(0, 0, 0, .3);
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

#home .content a {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    margin-top: 20px;
}

#home .content a:hover .fas::before {
    transform: rotate(90deg);
    transition: .2s;
}

/*************** ABOUT *****************/

#about .description {
    font-size: 25px;
    color: #4e4e4e;
    margin: 0;
    text-align: justify;
}

#about .description b {
    color: #04c2c9;
}

/*************** SKILLS *****************/

#skills {
    padding-left: 0;
    padding-right: 0;
}

#skills .header-title {
    margin-bottom: 0;
}

/*************** PROJECTS *****************/

.item { margin-bottom: 20px; position: relative; overflow: hidden; border-radius: 10px; box-shadow: 5px 10px 18px #888888; }
.item .more-infos p { color: #f6f6f6; font-size: 17px; }
.item .more-infos h4 { color: #f6f6f6; font-size: 25px; font-weight: bold; margin-bottom: 5px; display: block; }
.item::after, .item::before { content: ''; background: rgba(0,0,0,0.8); position: absolute; display: block; width: 50%; height: 100%; top: 0; overflow: hidden; -webkit-transition: 0.5s; transition: 0.5s; }
.item::after { left: -50%; }
.item::before { right: -50%; }
.item:hover:after { left: 0; }
.item:hover:before { right: 0; }
.item .more-infos { top: -200%; padding: 10px; position: absolute; border-radius: 10px; width: 100%; height: 100%; left: 0; z-index: 1; -webkit-transition: top 0.5s; transition: top 0.5s; }
.item:hover .more-infos { top: 0; }

#projects .item .more-infos { padding: 50px; }
#projects .more-infos .info-bottom { position: absolute; right: 20px; bottom: 20px; width: 100%; text-align: right; }
#projects .more-infos .info-bottom a { margin-left: 15px; }
#projects .more-infos .info-bottom i { color: #f6f6f6; font-size: 25px; }
#projects .item .more-infos h4 { font-size: 32px; }
#projects .item img { float: left; width: 100%; height: 100%; object-fit: cover; }

/*************** CONTACT *****************/

#contact .description {
    color: #1b242f;
    font-size: 20px;
}

#contact .social {
    margin: 80px 0;
}

#contact .social a {
    display: inline-block;
    border: 2px solid #1b242f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 60px;
    height: 60px;
    transition: .5s;
}

#contact .social a:hover {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#contact .social a i {
    margin-top: 13px;
    color: #1b242f;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
    transition: .5s;
}

#contact .social a:hover i {
    color: #04c2c9;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
}

/*************** MEDIA QUERYS *****************/

@media screen and (max-width: 765px) {
    section .header-title h2 { font-size: 2rem; }

    #projects .item .more-infos { padding: 5px; }
    #projects .item p { font-size: 15px; }
}

@media screen and (max-width: 500px) {
    #projects .item h4 { margin-top: 0; }
    #projects .item p { font-size: 13px; }
    #projects .more-infos .info-bottom { bottom: 5px; }
}
