@use 'variables' as *;

#about {
    p {
        color: $greyColor;
        font-size: 1rem;
        line-height: 1.6;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        a:hover {
            color: $blueColor;
        }
    }
}