@font-face {
    font-family: 'Inter';
    src: url(../fonts/inter.ttf);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $darkBlueColor;
    position: relative;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

table {
    width: 100%;
    cursor: default;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $highlightColor;
    transition: .5s;
    text-decoration: none;

    &.is-icon {
        color: $whiteColor;
    }

    &:hover {
        color: $highlightColor;
    }

    &.is-button {
        color: $highlightColor;
        background-color: transparent;
        border: 1px solid $highlightColor;
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        margin-top: 50px;
        display: inline-flex;

        &:hover {
            color: $highlightColor;
            text-decoration: none;
        }
    }
}

#bg-cover {
    position: absolute;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    z-index: 30;
    inset: 0;
    pointer-events: none;
}

.container {
    max-width: 1280px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding: 0 6rem;
    display: flex;
}

main {
    flex: 1;
    padding: 6rem 0;
}

.section {
    margin-bottom: 9rem;

    &__title {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 1.25rem 3rem;
        margin: 0 -3rem;
        backdrop-filter: blur(8px);
        background-color: rgba(15, 23, 42, .75);
        display: none;

        h2 {
            color: $whiteColor;
            font-weight: 700;
            font-size: 1rem;
        }
    }
}

.arrow-link {
    display: flex;
    align-items: center;

    &:hover {
        color: $blueColor !important;

        & svg {
            transform: translate(0.25rem, -0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
        }
    }

    svg {
        width: 16px;
        height: 16px;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;
    }

    &.arrow-left {
        &:hover svg {
            transform: translate(-0.5rem, 0) rotate(180deg);
        }

        svg {
            transform: rotate(180deg);
        }
    }

    &.arrow-right:hover svg {
        transform: translate(0.5rem, 0);
    }
}

@media screen and (max-width: $desktop) {
    .section__title {
        display: block;
    }

    .container {
        flex-direction: column;
        padding: 0 3rem;
    }
}

@media screen and (max-width: $mobile) {
    .section__title {
        padding: 1.25rem 1.5rem;
        margin: 0 -1.5rem;
    }

    .container {
        padding: 0 1.5rem;
    }
}