@use 'variables' as *;

#footer {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 6rem;

    @media (max-width: $desktop) {
        margin-bottom: 3rem;
    }

    .quote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        &-icon {
            width: 24px;
            height: 24px;
            fill: $greyColor;
            margin: 0 10px 5px 0;
        }

        &-text {
            font-weight: 700;
            color: $whiteColor;
        }
    }

    .copyright {
        color: $greyColor;
    }
}