@use 'variables' as *;

#header {
    width: 45%;
    max-height: 100vh;
    top: 0;
    position: sticky;
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: $whiteColor;

        a {
            color: $whiteColor;
            text-decoration: none;
        }
    }

    h2 {
        font-size: 1.2rem;
        color: $whiteColor;
        margin: 15px 0;
    }

    h3 {
        font-size: 1rem;
        color: $greyColor;
        max-width: 60%;
        line-height: 1.5;
    }

    #header-navigation {
        margin-top: 50px;

        ul {
            li {
                a {
                    display: inline-flex;
                    align-items: center;
                    color: #475569;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: .8rem;
                    letter-spacing: .1em;
                    padding: 10px 0;

                    &:hover,
                    &.is-active {
                        color: $whiteColor;

                        &:before {
                            background-color: $whiteColor;
                            width: 4rem;
                        }
                    }

                    &:before {
                        content: '';
                        width: 2rem;
                        background-color: #475569;
                        height: 1px;
                        margin-right: 15px;
                        transition: .2s ease;
                    }
                }
            }
        }
    }

    #footer-navigation {
        margin-top: 30px;

        ul {
            display: flex;

            li {
                &:not(:first-child) {
                    margin-left: 20px;
                }

                a {
                    color: $greyColor;

                    &:hover {
                        color: $whiteColor;
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $desktop) {
    #header {
        width: 100%;
        padding-bottom: 0;
        position: relative;

        #header-navigation {
            display: none;
        }
    }
}