$tablet: 769px;
$highlightColor: #4dc1f0;
$whiteColor: #ccd6f6;
$greyColor: #a8b2d1;
$darkBlueColor: #0a192f;
$darkestBlueColor: #091729;
$github-color: #4078c0;
$linkedin-color: #00a0dc;
$instagram-color: #405de6;